@import "variables";
body{
  font-family: $Primary-font;
  background: white;
  color: $Gray;
  border-radius: 4px; 
}
body *{
  font-family: $Primary-font; 
}
p{
  margin: 0px;
}

.display-flex{
  display: flex;
}

.input{
  border: none;
}

.textarea {
  border: none;
  font-size: 14px;
  resize: vertical;
}

.min-width-div{
  min-width: 265px;
}

.hover:hover{
  font-weight: bold;
  cursor: pointer;
}

button{
  border-radius: 4px;
  background: $Yellow;
  color: $White;
  border: none;
  font-size:10px;
}
button:hover{
  cursor: pointer;
}
.Yellow-Text {
  color: $Yellow;
  font-weight: bold;
}
.Purple-Text {
  color: $Purple;
}
.Normal-Text {
  color: $Gray;
  text-align: justify;
}
@import "components/app";
@import "components/store/cart/cart";
@import "components/store/store";
@import "components/store/item/item";
@import "components/store/details/detail";
@import "components/home/home";
@import "components/admin/admin";
@import "components/admin/adminItemForm/adminItemForm";