.saveQuanity-container {
    width: 50%;
    padding-left: 20px;
    .display-flex {
        width: 100%;
        margin-left: 0px; 
        margin-top: 0px; 
        justify-content: flex-start;
        input {
            width: 10%;
          }
    }

    div {
        margin-bottom: 30px;
    
    }

}

.image-display-container{
    .display-flex {
        width: 100% !important;
        margin-left: -80px !important;
        margin-top: 4px !important;
    }  
}

.More-details-form-textarea{
    width: 100%;
    height: 150px;
}

.image-price-container{
    width: 93%;
    margin: auto;
}

.adminForm-image{
    height: 250px;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.small-image{
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
    filter: grayscale(78%);
    background-repeat: no-repeat;
    background-image: url(/static/media/brightbaby.3fd2c611.svg);
    border: solid 1px;
    border-radius: 4px;
    margin: 4px;
}
.adminSmallForm{
    width: 50%;
}