.cart-main-container{
    width: 90%;
    margin: auto;
    margin-bottom: 40px;

    .cart-header{
        margin: 100px AUTO;
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
    }
    .remove-edit-container{
        display: flex;
    }
    .product-name-cart{
        margin-top: 35px;
        font-size: 18px;
        font-weight: bold;
    }

    .cart-image{
        border: 1px solid;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 150px;
        height: 150px; 
    }
    .image-quanity-container {
        display: flex;
        margin-top: 5px;
        .quanity-input{
            margin-left: 1px;
            width: 30%;
            padding-left: 4px;
            color: $Gray;
            font-family: $Primary-font;
        }
        .quanityText{
            position: relative;
            margin-top: 86px;
            margin-left: 10px;

        }
        p:first-child{
            margin-bottom: 4px;
        }

    }
    footer{
        width: 100%;
        display: flex;
        position: fixed;
        height: 100px;
        background: transparent;
        justify-content: flex-end;
        bottom: -63px;
        left: -49px;
    }
}
